[Desktop Entry]
Categories=Application;Network;X-Developer;
Comment[en_US]=Firefox Developer Edition Web Browser.
Comment=Firefox Developer Edition Web Browser.
Exec=firefox-developer %u
GenericName[en_US]=Firefox Developer Edition
GenericName=Firefox Developer Edition
Icon=~/.local/opt/firefox-developer/browser/chrome/icons/default/default128.png
MimeType=
Name[en_US]=Firefox Developer
Name=Firefox Developer
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
